.ipynb_checkpoints/
*/.ipynb_checkpoints/
*/*/.ipynb_checkpoints/
*/*/*/.ipynb_checkpoints/
*/*/*/*/.ipynb_checkpoints/

*/__pycache__/
*/*/__pycache__/
*/*/*/__pycache__/
*/*/*/*/__pycache__/


*/*.log
*/*/*.log
*/*/*/*.log
*/*/*/*/*.log

.idea/
.vscode/

venv/

temp
